.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: rgb(250, 184, 184);
}

.red-text {
    color: rgb(80, 4, 179);
}

.some {
    background: rgb(200, 144, 238);
}

.some-text {
    color: rgb(240, 243, 86);
}