.img {
    height: 80px;
    height: 80px;
    border-radius: 50%;
    padding-right: 10px;
   
}

.message {
    display: flex;
    width: 500px;
    height: 80px;
    
}
.name {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(209, 160, 0);
}
.boxMessage {
    padding-left: 10px;
    background-color: rgb(162, 238, 225);
    height: 80px;
    width: 200px;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    color:rgb(3, 109, 104);
    
}
.time {
    color: rgb(126, 65, 225);
    text-align: right;
    margin-right: 10px;
}
.background {
    background-color: rgb(190, 155, 255);
}

.triangle {
    border-bottom-right-radius: 50px;
    border-radius: 0px 120px / 50px;
    padding-top: 60px;
	border-bottom: 20px solid rgb(162, 238, 225);
	border-left: 20px solid transparent;
    
    }
