.button {
    border-style: solid;
    border-width: 2px;
    padding: 1px 7px 2px;
    text-rendering: auto;
    color: initial;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 500 15px system-ui;
    background-color: rgb(211, 193, 255);
    border-color: rgb(104, 0, 90);
    margin-left: 15px;
    border-radius: 5px;
}
.button.active {
    
    border-radius: 5px;
    background-color: rgb(96, 68, 255);
    border-color: rgb(66, 0, 104);
    border-style: solid;
    border-width: 2px;
    padding: 1px 7px 2px;
    text-rendering: auto;
    color:ghostwhite;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 500 15px system-ui;  
}
.hw2 {
    background-color: rgb(229, 255, 169);
}
.deleteButton {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
    text-rendering: auto;
    color: initial;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 300 15px system-ui;
    background-color: rgb(243, 182, 182);
    border-color: rgb(179, 0, 0);
    position: absolute;
    left: 250px;
}
.tasks {
    display: flex;
    flex-direction: row;
}
.nameTask{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(32, 44, 218);
    padding: 5px;
}
.priority{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 117, 68);
    padding: 5px;
    position: absolute;
    left: 160px;
   }
   .affairs {
    height: 180px;
   }