.input:focus {
  outline: none;
  border:rgb(40, 143, 228) solid 2px;
}

.superInput {
  font-size: 12px;
  font-family: inherit;
  background-color: rgb(126, 176, 185);
  border-radius: 5px;
  width: 300px

}

.errorInput {
  font-size: 12px;
  font-family: inherit;
  background-color: rgb(216, 108, 100);
  border: 1px solid;
  border-radius: 5px;
  width: 300px
}

.error {
  color: rgb(212, 40, 40);
}