.input:focus {
  outline: none;
  border:rgb(40, 143, 228) solid 2px;
}

.superInput {
  font-size: 12px;
  font-family: inherit;
  background-color: rgb(126, 176, 185);
  border: 1px solid;
  border-radius: 1px;
}

.errorInput {
  font-size: 12px;
  font-family: inherit;
  background-color: rgb(185, 130, 126);
  border: 1px solid;
  border-radius: 1px;
}

.error {
  color: rgb(212, 40, 40);
}