.radio {
  appearance: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  background: burlywood;
}

.radio:hover {
  border: 2px solid rgb(15, 161, 228);
}

.radio:checked {
  background: rgb(88, 204, 75);
}

.option:focus {
  border: 2px solid rgb(222, 135, 135);
}

.label {
  cursor: pointer;
}