.background {
  background-color: #ffe2b6;
}

.greeting {
  display: flex;
  align-items: flex-start
}

.error {
  color: red;
  height: 12px;
}

.errorInput {
  border: 2px solid rgb(224, 15, 15);
  height: 10px;
  width: 200px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  background: #F6F6f6;
  border-radius: 8px;
}

.input {
  height: 10px;
  width: 200px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #cbecff;
  border-radius: 8px;
}

.submit {
  margin: 0px 20px;
  border: solid 1px rgb(56, 93, 161);
  border-radius: 5px;
  background: #7295da;
  color: #fff;
  padding: 4px 12px;
  font-size: 14px;
  font-family: inherit;
}

.submit:hover {
  background: #347dd1;
}
/* 
.submit:active {
  background-color: #b7b944;
  color: white;
} */

.submit:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}